<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../css/lib/jsgrid-theme.min.css" type="text/css">
    <link rel="stylesheet" href="../css/lib/jsgrid.min.css" type="text/css">
</head>
<style>
    #jsGrid:hover{
        cursor: pointer;
    }
    .jsgrid-table tbody tr:hover{
       background-color: red;
    }
    .one{
        color: #424b95;
    }
</style>
<body>
<div id="jsGrid"></div>
<div ><input type="text" class="one"></div>
</body>
<script src="../js/lib/jquery-3.1.1.min.js" type="text/javascript"></script>
<script src="../js/lib/jsgrid.min.js" type="text/javascript"></script>
<script src="../js/jsgrid-demo1.js" type="text/javascript"></script>
</html>